In [ ]:
# Question 1:

lst=map(int, input('Enter Contains of List separated by (,) :').split(','))
lst=list(lst)
lst=set(lst)
lst=list(lst)
print('List after removing similar items: {0} '.format(lst))

Enter Contains of List separated by (,) :1,2,3,4,5
List after removing similar items: [1, 2, 3, 4, 5]

In [ ]:
# Question 2:

store=map(int,input('Enter Contains of List separated by (,) :').split(','))
store=list(store)
print(len(store))
print(sum(store))
print('Largest: {0}, Smallest: {1}'.format(max(store), min(store)))

Enter Contains of List separated by (,) :1,2,3,4,5,5
6
20
Largest: 5, Smallest: 1

In [ ]:
# Question 3:

n=int(input("Enter a number: "))
i=int(input("Enter ith bit to ON: "))
mask= (1 << i)
result= n | mask
print(result)

Enter a number: 13
Enter ith bit to ON: 1
15

In [ ]:
# Question 4:

n=int(input('Enter a number to check: '))
result=n & 1 #first bit is 0 if even else 1
print(result)

Enter a number to check: 26
0

In [ ]:
# Question 5:

A=list(map(int,input('Enter Contains of List separated by (,) :').split(',')))
B=list(map(int,input('Enter Contains of List separated by (,) :').split(',')))
C=sorted(A+B)
print(C)

Enter Contains of List separated by (,) :1,2,3,4
Enter Contains of List separated by (,) :5,6,7,8
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Question 6:
#{'names':marks}

student = {input('Enter Name 1:'):int(input('Enter Marks 1:')),
           input('Enter Name 2:'):int(input('Enter Marks 2:')),
           input('Enter Name 3:'):int(input('Enter Marks 3:')),
           input('Enter Name 4:'):int(input('Enter Marks 4:')),
           input('Enter Name 5:'):int(input('Enter Marks 5:'))}

sort_dict=sorted(student.items(), key=lambda x: x[1])

print(dict(sort_dict))

Enter Name 1:Vinay
Enter Marks 1:50
Enter Name 2:Ajay
Enter Marks 2:80
Enter Name 3:Anuj
Enter Marks 3:40
Enter Name 4:Sanju
Enter Marks 4:88
Enter Name 5:Anil
Enter Marks 5:90
{'Anuj': 40, 'Vinay': 50, 'Ajay': 80, 'Sanju': 88, 'Anil': 90}